* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121212;
  color: #fff;
  transition: 0.3s;
}

body.light {
  background: #f2f2f2;
  color: #000;
}

/* TITLE */
.app-title {
  margin: 10px 0;
  font-weight: bold;
}

/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 420px;
  padding: 15px;
  border-radius: 20px 20px 0 0;
  background: #1a1a1a;
}

body.light .player {
  background: #ffffff;
}

/* TOP */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TOGGLE */
.switch {
  width: 42px;
  height: 22px;
  position: relative;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #555;
  border-radius: 20px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  width: 18px;
  height: 18px;
  background: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background: #1db954;
}

input:checked + .slider::before {
  transform: translateX(20px);
}

/* ALBUM */
.album-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#album {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  animation: spin 6s linear infinite;
  animation-play-state: paused;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* PROGRESS */
.progress-container {
  height: 6px;
  background: #444;
  border-radius: 10px;
  cursor: pointer;
}

.progress {
  height: 100%;
  width: 0%;
  background: #1db954;
}

/* TIME */
.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 4px;
}

/* CONTROLS */
.controls {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 15px 0;
}

.controls button {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: inherit;
}

/* VOLUME */
.volume-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

#volume {
  width: 100%;
}
